<div class="p-4 pt-24 flex justify-center">
  
  <div class="w-40 h-40 bg-white rounded-xl shadow-md border border-gray-200 flex items-center justify-center">
    
    <ul class="space-y-1 text-gray-800 text-sm">
      <li>
        <span class="font-semibold">Name:</span>
        {{ this.duck?.nickName }}
      </li>
      
      <li>
        <span class="font-semibold">Age:</span>
        {{ this.duck?.age }}
      </li>
      
      <li>
        <span class="font-semibold">Weight:</span>
        {{ this.duck?.weight }}
      </li>
    </ul>

  </div>

</div>